.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 350ms;

  > .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
  }

  &_scrolled {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__link {
    display: block;
    margin-right: 12px;
    padding: 6px;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }

    &:last-of-type {
      margin-right: -6px;
    }

    @media screen and (min-width: 600px) {
      margin-left: 16px;
      padding: 8px;

      &:last-of-type {
        margin-right: -8px;
      }
    }
  }
}
